<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>/error</title>
  </head>
  <body>
    <div th:text="'status: ' + ${status}"></div>
    <div th:text="'error: ' + ${error}"></div>
    <div th:text="'message: ' + ${message}"></div>
  </body>
</html>
